@import "tailwindcss";

:root {
 --primary : #802223 ;
 --secondary : #B2B2B2 ;
 --ternary : #CFAD4A ;
}
@theme {
  --color-primary: #802223;
  --color-secondary: #B2B2B2;
  --color-ternary: #CFAD4A;
  --breakpoint-2xl: 1660px;
}
body{
  background: #000;
  max-width: 1980px;
  margin: auto;
  font-family: var(--font-poppins);
}
.cus_container {
   max-width: 1740px;
   margin: auto;
   padding-inline: 3%;
}

