@import "tailwindcss";

:root {
  --primary: #802223;
  --secondary: #b2b2b2;
  --ternary: #cfad4a;
}
@theme {
  --color-primary: #802223;
  --color-secondary: #b2b2b2;
  --color-ternary: #cfad4a;
  /* --breakpoint-xl: 1330px; */
  /* --breakpoint-2xl: 1660px ;  */
}
body {
  background: #000;

  font-family: var(--font-poppins);
}
.cus_container {
  max-width: 1795px;
  margin: auto;
  padding-inline: 3%;
}

.custom-next,
.custom-prev {
  z-index: 9999 !important;
  position: relative;
}
.rb-letter {
  display: inline-block;
  opacity: 0;
  transform-origin: center;
  transition: 
      opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1),
      transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.rb-animate {
  opacity: 1;
  transform: translateY(0) rotate(0deg) scale(1);
}


.title-text {
  font-size: 192px;
  line-height: 200px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fcf0d6;
  letter-spacing: -4%;
}

.sub-title {
  font-size: 128px;
  line-height: 138px;
  font-weight: 600;
  color: white;
  padding-bottom: 1rem;
  text-align: center;
}


@media screen and (max-width: 1661px) {
  .title-text {
    font-size: 155px;
    line-height: 165px;
  }
  
  .sub-title {
    font-size: 95px;
    line-height: 138px; 
  }
}

@media screen and (max-width: 1330px) {
  .title-text {
    font-size: 125px;
    line-height: 135px;
  }

  .sub-title {
    font-size: 75px;
    line-height: 110px;
  }
}

@media screen and (max-width: 1024px) {
  .title-text {
    font-size: 90px;
    line-height: 100px;
  }

  .sub-title {
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 0.5rem;
    text-align: start;
  }

  br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title-text {
    font-size: 60px;
    line-height: 70px;
  }

  .sub-title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}




@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
